extends _layout

block content
	
	section.padding
		.container.padding
			.row
				h2.center Stripe Connect
			.row
				p.lead.mb-0.center Please connect your stripe account below so we can route payments to you.
			.row.padding
				a.center.btn.btn-primary.btn-lg(href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_Dcj8jDtebQlWTCtSD4k0Iby7pJ6VJZC1&scope=read_write") Connect Stripe Account


	script.
		$( document ).ready(function() {
		    mixpanel.track('stripe signup');
		});
