extends _layout

block vars
	- var title= 'About Giftlab'
	- var image=content[0].image
	- var description= 'Empowering people to give creatively to the causes they love'


block content
	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-5.my-auto.showcase-text.padding
					h2 About
					p.lead.mb-0
						| At Gift Lab we're empowering you to donate creatively. With itemized project lists and budgets, our platform is promoting transparency between projects and donors.
					br
					br
				.col-lg-7.text-white(style="background-image: url('/images/0_home/Main_Projects.jpg'); background-position: center; background-size: cover; min-height:200px")
				


	// Icons Grid
	section.features-icons.padding.bg-white
			.container
				section.features-icons.bg-light.text-center(id="howitworks").bg-white
						div(style="margin-left: 70px !important; margin-right: 70px !important;")
							h3.center How it works
							br
							p.lead.mb-0 At Gift Lab we're empowering you to be in full control of your donations. Our platform connects non-profit projects and donors, using itemized lists to provide transparency, flexibility, and confidence to our users. Our vision is to inspire donors to give creatively: donate money directly to a project's budget, purchase a needed item for a team, or give differently by recycling your own unused items or by gifting airline miles.
						br
						.container
							.row
								.col-lg-4
									.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
										img.img-fluid(src="./images/0_home/FindProject.png")
										br
										br
										h3 Find a project
										p.lead.mb-0 Pick a project you’d like to support. These are not-for-profits, so your gifts are tax-deductible.

								.col-lg-4
									.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
										img.img-fluid(src="./images/0_home/GiveDirectly.png")
										br
										br
										h3 Donate differently
										p.lead.mb-0 Be in control of how you're gifting: 1) purchase an item, 2) donate to a budget, or 3) recycle an item.

								.col-lg-4
									.features-icons-item.mx-auto.mb-0.mb-lg-3
										img.img-fluid(src="./images/0_home/Thanks.png")
										br
										br
										h3 Stay updated
										p.lead.mb-0 We’ll keep you informed of your donation's impact, sending you updates as your chosen team puts it to use.


	
	// Icons Grid
	section.features-icons.padding.bg-white
			.container
				.row
					.col-lg-12
						h3 Our Story
						p.lead Here at the Gift Lab we are opening the doors for people to support causes they care about in new and different ways. We are creating a space for non-profits to list their needs and giving donors greater control in how they contribute.

						p.lead But what does ‘funding’ mean to us? At Gift Lab, funding means getting the non-profit whatever they need. For most projects you’ll be able to purchase an item and ship it directly to the non-profit and/or donate to a specific budget line item. However, it doesn’t end there. We know there are multiple ways to “gift” so we have also created an opportunity for our community to get creative. By reaching out to us to “donate differently” we will help connect you and the non-profit to fulfill a need in some other way. 

						p.lead Here are some examples of donors “gifting” differently:
						ol.lead 
							li.lead Our friends at GoPro kindly fulfilled the need for 17 GoPros across two projects; Protecting Leatherback Sea Turtle and the Tiger Shark Photo ID in Isla Del Coco project.
							li.lead A Gift Lab donor recycled a used, but totally functional GoPro Chesty Harness and Jaws clamp to the Tiger Shark Photo ID in Isla Del Coco project.
							li.lead A Gift Lab donor used hotel points to purchase 1 night accommodation for part of the Reducing Microplastic Pollutants project. 
						br 
						p.lead The team at Gift Lab are bursting with excitement to continue building this space to connect great people to causes that inspire them. You’re excited too? Feel free to contact our team.

						br
						hr
						
						br
						h3 Frequently asked questions
						br
						h5 How do I make a donation?
						p.lead Every project will have a different list of needs. For most projects there are 3 main ways of donating:
						ul.lead
							li Purchase and ship a specific item directly via Amazon Wishlists
							li Donate money to specific budget line items
							li Recycle an item from the list and give it a second life
						p.lead In some cases you may have another way of providing the listed item in need. To do this please select the “donate differently” option and detail how you would like to contribute. Here are some examples:
						ul.lead
							li Flights from SFO to PTY - use personal frequent flyer miles to purchase flights.
							li Accommodation in San Jose, Costa Rica - provide free night stay at your AirBnB free of charge.
							li Airport Transfers - provide an Uber or Lyft gift card or credits.

						h5 What if I don’t have an Amazon account?
						p.lead Right now, this is the best way to gift products to our listed projects and unfortunately we currently do not support any other sites to directly purchase from. Amazon accounts are easy and free to set up, but if you’d prefer not to and would still like to donate, please reach out to us directly at 
							a(href="mailto:info@giftlab.io") info@giftlab.io

						h5 Can I donate in non-US dollars?
						p.lead We list projects in USD for consistency. For monetary donations via Stripe your payment will automatically be made in USD even if your accounts are in another currency. For example, if your account is in Australia, you will see a AUD charge but the non-profit will receive USD.

						h5.lead Are my donations tax deductible?
						p.lead Yes! Whether you donate money, purchase an item or recycle an item it’s all tax deductible. All of our listing are funding projects run by non-profit organizations. The supporting non-profit will send you a receipt notice when the donation or in-kind gift is received. 

						p.lead Note: if you purchase an item via Amazon for the project, please include your contact email address so we can provide a digital copy of this receipt. 

						h5.lead What is the Gift Lab’s “cut”?
						p.lead For products purchased via wishlists and shipped directly to the non-profit we collect affiliate marketing fees. This means that 100% of the donation value is received by the non-profit in the form of an item. For all monetary donations, we retain a $1 payment processing fee regardless of donation size. 

						h5 My company would like to sponsor a project, what’s the best way to do that?
						p.lead The best approach is to get in touch with the Gift Lab team. We’ll chat with you directly on our current and upcoming projects and make sure all purchases and/or donations are processed appropriately.

						h5 I have a project I’d like to list. How do I do that?
						p.lead Awesome! We’d love to hear from you. To get the ball rolling, please send an email to 
							a(href="mailto:info@giftlab.io") info@giftlab.io 
							span with the following details:
						ul.lead 
							li Non-Profit Organization name
							li Project name & short description (1-2 paragraphs max)
							li Contact details and main point of contact
						p.lead From here one of our team will be in touch to discuss the process of listing and next steps. Keep in mind we are a small team so it may take us a few days to respond.  

	script.
		$( document ).ready(function() {
		    mixpanel.track('about loaded');
		});
