extends _layout

block content
	div.container
		h2 About
		div.col-md-4
			img.img-fluid(src="/images/about/IMG_2598.JPG" alt="Image Title")

		p Discovery Wishlist allows you to contribute to positively impact our future by helping fund incredible research projects around the world. You have the option of purchasing specific items required for research expeditions and in-lab studies, donating money to specific budgets per project or even sharing pre-loved items (recycling) to give them a second purpose. Here you can help the causes you love, AND know exactly where your money is going.

		h3 FAQs
		p 
			strong Are my donations tax deductible?
		p Yep! Whether you donate money, purchase an item or recycle a pre-loved item it’s all tax deductible. All of our projects listed are back by Not-For-Profit organizations and will send you a receipt notice.

		p 
			strong What is Discovery Wishlist’s “cut”?
		p Good question! We take 0%, zero, nada. We have 3 types of donations supported on here, recycled products, purchased gifts and monetary donations. All monetary donations are subject to the research organization’s online donation platform fees but nothing on the Discovery Wishlist side. We keep our lights on by collecting affiliate marketing fees from Amazon when you purchase gifts from our links so all of your hypothetical $100 of equipment is going 100% to your research project of choice.

		p 
			strong My company would like to sponsor a project, what’s the best way to do that?
		p The best approach is to get in touch with the Discovery Wishlist team. We’ll chat with you directly on our current and upcoming projects and make sure all purchases and/or donations are processed appropriately.

		p 
			strong Can I list my project here?
		p Click on the contact link and shoot us an email. We’ll get in touch to see if your project is a good fit when we’re ready to start adding more projects to our platform.