extends _layout

block content
	h2 Contact
	p Name 
	input.input(placeholder="Niko Chan")
	
	br
	br
	p Email 
	input.input(placeholder="n.d@g.com")

	br
	br

	p Message
	textarea.textArea(placeholder="Your message")