extends _layout

block content
	div.container
		br
		br
		section.text-center(id="signup")
				.overlay
				.container
					.row
						.col-xl-9.mx-auto
							h2.mb-4 Contact the team
							p.lead.mb-0(style="max-width: 800px; margin: 0 auto;") Would you like to give differently or list a project? Whatever you need, send us an email and one of our team will be in touch within the next few days. For those with a creative way to donate, please share the project, item and quantity you'd like to fulfill.
							br
							br
						.col-md-10.col-lg-8.col-xl-7.mx-auto
							form(action="https://formspree.io/info@giftlab.io" method="POST")
								.row
									.col-md-6
										input.form-control.form-input-lg(placeholder="Your name" type="text" name="name")
									br
									br
									.col-md-6
										input.form-control.form-input-lg(placeholder="Your email" type="email" name="_replyto")
								br
								.row
									.col-md-12
										textarea.form-control.form-input-lg(placeholder="Your message" type="text" name="message" style="height: 200px")
								br
								.row
									.col-md-12
										button.btn.btn-block.btn-lg.btn-primary.blue(type='submit') Send
		br
		br


	script.
		$( document ).ready(function() {
		    mixpanel.track('contact');
		});