extends layout

block content
	p Purchase equipment, donate to a budget or recycle pre-loved items and positively impact the future by helping fund incredible research projects around the world. Here you can help the causes you love, AND know exactly where your money is going.

	div.row
		div.col-md-8.box
			img.img-fluid(src="/images/bullshark.jpg" alt="Image Title")
		div.col-md-4.box
			a do something here

	<hr>

	div.row
		div.col-sm-4.box
			h1 benefit
		div.col-sm-4.box
			h1 benefit
		div.col-sm-4.box
			h1 benefit

	<hr>

	div.row
		div.col-md-4.box
			a do something here
		div.col-md-8.box
			img.img-fluid(src="/images/about/IMG_2598.JPG" alt="Image Title")