extends layout

block content
  p Purchase equipment, donate to a budget or recycle pre-loved items and positively impact the future by helping fund incredible research projects around the world. Here you can help the causes you love, AND know exactly where your money is going.
