extends _layout

block content
	div.row.row-eq-height
		div.col-md-8.no-padding
			img.img-fluid.w-100(src='/images/bullshark.jpg')
		div.col-md-4.panel
			br
			br
			h3 Help seed discovery and know exactly where your money is going
			a.btn(href="/about") LEARN MORE

	br
	hr
	br

	h3.center How it works
	br
	div.row.row-eq-height
		div.col-sm-4.center
			h1 Step 1
		div.col-sm-4.center
			h1 Step 2
		div.col-sm-4.center
			h1 Step 3

	br
	hr
	br

	div.row.row-eq-height
		div.col-md-4.panel
			br
			br
			h3 Find a research project that inspires you. Help launch it.
			a.btn(href="/projects") SEE PROJECTS
		div.col-md-8.no-padding
			img.img-fluid.w-100(src='/images/microplastics/microplastics.jpg')

	hr

	div.row
		div.col-md-12.center
			br
			br
			h3 Want to stay in the know? Subscribe to email list for all the best updates.
			br
			input
			button Subscribe