extends layout

block content
	ul.col-md-12.row
		a(href="/projects/leatherbacks")
			div.col-md-4.box
				img.img-fluid(src="/images/leatherbacks/leatherback.png" alt="Image Title")
				h3 Leatherbacks
		a(href="/projects/salmon")
			div.col-md-4.box
				img.img-fluid(src="/images/bullshark.jpg" alt="Image Title")
				h3 Salmon
		a(href="/projects/microplastics")
			div.col-md-4.box
				img.img-fluid(src="/images/microplastics/microplastics.jpg" alt="Image Title")
				h3 Microplastics
			
