extends _layout

block content
	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row.no-gutters.panel
				.col-lg-5.my-auto.showcase-text.padding
					h2 Stripe Connect
					p.lead.mb-0 Please connect your stripe account below so we can route payments to you.
					a(href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_Dcj8reHZ6xjlEBfDVn4Zl07ergfiWVCG&scope=read_write")
				




	script.
		$( document ).ready(function() {
		    mixpanel.track('signup');
		});
