extends _layout

block content

	section.padding.center
		.container.padding
			.row
				h2 Stripe Connect
			.row
				p.lead.mb-0 Thank you! You have successfully signed up. Questions? elisa@giftlab.io
			

	script.
		$( document ).ready(function() {
		    mixpanel.track('stripe signup success');
		});
