extends _layout

block content
	// Image Showcases
	section.showcase
		.container-fluid.p-0
			.row
				h2 Stripe Connect
			.row
				p.lead.mb-0 Thank you! You have successfully signed up. Questions? elisa@giftlab.io
			


	script.
		$( document ).ready(function() {
		    mixpanel.track('signup');
		});
