extends _layout

block content
	
	// Icons Grid
	section.features-icons.padding.bg-white
			.container
				.row
					.col-lg-12.center
						h3 Thank you for your donation!
						p An email receipt has been sent to your inbox. 
						a.center.btn.btn-primary.btn-lg.blue(href=content[projectid].slug+'#budgets') Continue back to project page
						br
						br
						p Please sign up for the mailing list below to get updates on this project and your donation.
						h1 👇



	script.
		$( document ).ready(function() {
		    mixpanel.track('stripe completed');
		});
