extends _layout

block content
	div.container
		h1 Thank you!
		p Your payment has been received
		input.form-control.form-control-lg(type='email', placeholder='Please enter your email to receive updates from giftlab...')
