extends _layout

block content
	div.container
		br
		br
		section.text-center(id="signup")
				.overlay
				.container
					.row
						.col-xl-9.mx-auto
							h2.mb-4.center Thank you!
							p.center Your payment has been received.
							br
							img.thumbnail(src="/images/thanks/octo.gif" alt="Image Title")
							br
							br
