
body {
    background-color: #f8f9fa !important;
  }

.panel{
  min-height: 500px;
}

.showcase-img{
  background-position: center !important; /* Center the image */
  background-repeat: no-repeat !important; /* Do not repeat the image */
  background-size: cover !important; /
  

}


input{
  font-size: 1rem;
  padding-top: 0;
  margin-bottom: 30px;
  margin-left: 10px;
}

select{
  margin-left: 20px;
  font-size: 1rem;
}

hr { 
  height: 1px; 
  padding: 0; 
  border: 0; 
  max-width: 100px; 
  margin: 0 auto; 
  margin-bottom: 25px;
  margin-top: 25px;

}



.row-equ-height {
  align-items: bottom;
}

.orange {
  background-color: orange !important;
  border: none !important;
}

.blue {
  background-color: lightgreen !important;
  border: none !important;
}

.green {
  background-color: #009cde !important;
  border: none !important;
}

.padding{
  padding: 50px !important;
}


.no-padding {
  padding: 0 !important;
}

.panel {
  background-image: linear-gradient(#00AFE1, #0C3C83) !important;
  /*text-align: right;*/
  color: white;
  margin: 0;
}


.marginBottom{
  margin-bottom: 50px;
}


.copy{
    margin-left: 10px;
    text-align: left;
  }



.center{
  text-align: center;
  margin: 0 auto;
}

.roundedCorners{
  border-radius: 10px;
  border: 5px solid black;
}

.textArea{
  margin-left: 10px;
  width: 400px;
  height: 200px;
  padding: 10;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.input{
  padding: 10;
  border: 1px solid lightgrey;
  border-radius: 5px;
}


.box-home{
  border: 1px solid lightgrey;
  /*padding: 20px;*/
  height: 100%;
  max-width: 900px;
  margin: 5px auto !important;
  background-image: white !important;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)*/
}

.box-project{
  border: 1px solid lightgrey;
  padding: 20px;
  height: 100%;
  max-width: 900px;
  margin: 5px auto !important;
  background-image: white !important;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)*/
}

.nolinks{
  text-decoration: none !important;
  color: black;
}

.brand{
  max-width: 200px !important;
}


.jumbotronbutton{
  background-color: rgba(0,0,0,0) !important;
  border: 2px solid rgba(255,255,255,1) !important;
}

.jumbotronbutton:hover{
  background-color: rgba(0,0,0,0) !important;
  border: 2px solid rgba(255,255,255,.6) !important;
  color: rgba(255,255,255,.6) !important;
}

.bg-white{
  background-color: white !important;
}



.test {
    position: relative;
    display: inline;
}

.test:before {
    content: '$';
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 1;
}


.myInput{
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding-left: 25px;
}



.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
