
body {
    background-color: white /*#f8f9fa !important;*/
  }


.showcase-img{
  background-position: center !important; /* Center the image */
  background-repeat: no-repeat !important; /* Do not repeat the image */
  background-size: cover !important; /
}


input{
  font-size: 1rem;
  padding-top: 0;
  margin-bottom: 30px;
  margin-left: 10px;
}

select{
  margin-left: 20px;
  font-size: 1rem;
}

hr { 
  height: 1px; 
  padding: 0; 
  border: 0; 
  max-width: 100px; 
  margin: 0 auto; 
  margin-bottom: 25px;
  margin-top: 25px;

}



.row-equ-height {
  align-items: bottom;
}

.orange {
  background-color: orange !important;
  border: none !important;
  padding: 3px !important;
  width: 100% !important;
  margin: 4px !important;
}

.blue {
  background-color: #00AFE1 !important;
  border: none !important;
  padding: 3px !important;
  width: 100% !important;
  margin: 4px !important;
}

.green {
  background-color: #7ED321 !important;
  border: none !important;
  padding: 3px !important;
  width: 100% !important;
  margin: 4px !important;
}

.jumbotronbutton{
  background-color: rgba(0,0,0,0) !important;
  border: 1px solid rgba(255,255,255,1) !important;
  padding: 3px !important;
  width: 100% !important;
  margin: 4px !important;
}

.jumbotronbutton:hover{
  background-color: rgba(0,0,0,0) !important;
  border: 1px solid rgba(255,255,255,.6) !important;
  color: rgba(255,255,255,.6) !important;
  
}

.padding{
  padding: 20px !important;
}


.no-padding {
  padding: 0 !important;
}

.panel {
  background-color: #00AFE1 !important;
  color: white;
  margin: 0;
  min-height: 500px;
}

.title{
  background-color: #00AFE1 !important;
  color: white;
  margin: 0;
}


.marginBottom{
  margin-bottom: 50px;
}


.copy{
    margin-left: 10px;
    text-align: left;
  }



.center{
  text-align: center;
  margin: 0 auto;
}

.roundedCorners{
  border-radius: 10px;
  border: 5px solid black;
}

.textArea{
  margin-left: 10px;
  width: 400px;
  height: 200px;
  padding: 10;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.input{
  padding: 10;
  border: 1px solid #lightgrey;
  border-radius: 5px;
}


.box-home{
  border: 1px solid #efefef !important;
  /*padding: 20px;*/
  height: 100%;
  /*max-width: 900px;*/
  margin: 5px !important;
  background-image: white !important;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)*/
}

.box-project{
  border: 1px solid #efefef;
  padding: 20px;
  height: 100%;
  /*max-width: 900px;*/
  margin: 5px !important;
  margin-top: 30px !important;
  margin-bottom: 5px !important;
  background-image: white !important;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)*/
}

.nolinks{
  text-decoration: none !important;
  color: black;
}

.brand{
  max-width: 200px !important;
}




.bg-white{
  background-color: white !important;
}



.test {
    position: relative;
    display: inline;
}

.test:before {
    content: '$';
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
}


.myInput{
  padding: 5px;
  border: 1px solid #efefef;
  border-radius: 3px;
  padding-left: 25px;
  width: 120px !important;
  height: 45px;
  margin-top: 5px;
}




.titleButton{
  border-width: 0px !important;
  padding: 10px !important;
}

.bodyButton{
  background-color: orange !important;
  border-width: 0px !important;
  padding: 10px !important;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 1rem !important;
  width: 90%;
}

.stripeButton{
  background-color: orange !important;
  border-width: 0px !important;
  padding: 10px !important;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 1rem !important;
}

.lead{
  font-size: 1rem !important;
}



meter::-webkit-meter-optimum-value {
    background: #00AFE1
}